<header role='banner' class="fika-header">
{{#if @blog.logo}}<a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
<h1 class="blogtitle">
<a href='{{@blog.url}}'>
    <img src="/assets/images/swedish-fika-logo.svg" alt="{{@blog.title}}">
</a>
</h1>
</header>